@import "src/assets/scss/common";

.main-container {
  .close-button {
    @include close-button;
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(162, 162, 162, 0.77);
  backdrop-filter: blur(5px);
  z-index: 1001;

  .media-viewer {
    height: 75%;

    .media-preview {
    }

  }

  .media-list {
    height: 25%;
    scroll-behavior: smooth;

    .prefix, .suffix {
      width: 325px;
      height: 100px;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 325px;
      cursor: pointer;
    }

    .image {
      width: 100px;
      height: 100px;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 100px;
      cursor: pointer;
      position: relative;

      &.active {
      }
      &.inactive .backdrop{
        background-color: rgba(0,0,0,.5);
      }

    }

    .media-thumbnail {
      width: auto;
      height: 150px;
      //  width: fit-content;
      img {
        cursor: pointer;
        height: 100%;
      }
    }
  }
}
