.dashboard-main {
  background: url("../../assets/images/bg-pattern.png");
  height: 100%;


  .app {
    position: relative;
    overflow: hidden;
    top: 30px;
    height: calc(100% - 70px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    max-width: 850px;
    border-radius: 5px;

    .app-one {
      background-color: #f7f7f7;
      height: 100%;
      overflow: hidden;
      margin: 0 !important;
      padding: 0 !important;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    }
  }
}
