<div class="container app m-auto">
    <div class="flex app-one">
        <div class="sidebar-container w-1/4 bg-green-200 h-full">
            <div class="flex flex-col h-full">
                <div class="flex ww-full heading">
                    <div class="heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="../../assets/images/default-user.png">
                        </div>
                    </div>
                    <div class="heading-dot  pull-right">
                        <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                    </div>
                    <div class="heading-compose  pull-right">
                        <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="w-full searchBox px-2 py-3 bg-gray-300">
                    <div class="searchBox-inner h-full relative">
                        <input type="text" class="h-6 p-2 rounded text-gray-700 text-xs w-full"
                               v-model="searchText" placeholder="Search or start a new chat">
                        <span class="fa fa-times absolute" @click="searchText = ''"></span>
                    </div>
                </div>
                <div class="sidebar bg-white h-full overflow-auto">
                    <div class="flex sidebar-card hover:bg-gray-100" :class="{'bg-gray-200': receiver.id === user.id}"
                         v-for="user in filteredUsers" @click="selectReceiver(user)">
                        <div class="sideBar-avatar">
                            <div class="avatar-icon">
                                <img src="../../assets/images/default-user.png">
                            </div>
                        </div>
                        <div class="sideBar-main">
                            <div class="flex">
                                <div class="sideBar-name">
                                    <span class="name-meta">{{user.name}}</span>
                                </div>
                                <div class="pull-right sideBar-time">
                                    <span class="time-meta pull-right">18:18</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="conversation flex flex-col w-3/4">
            <div class="flex heading justify-between sticky top-0 w-full">
                <div class="flex">
                    <div class="heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="../../assets/images/default-user.png">
                        </div>
                    </div>
                    <div class="heading-name">
                        <a class="heading-name-meta">{{receiver.name}}</a>
                        <span class="heading-online">Online</span>
                    </div>
                </div>
                <div class="heading-dot">
                    <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                </div>
            </div>

            <div class="conversation-container overflow-auto h-full" ref="conversation-container">
                <div class="conversation-body" ref="conversation-body">
                    <div :class="{
                     'sender bg-green-200': message.senderId !== receiver.id,
                     'receiver bg-gray-300': message.senderId === receiver.id
                    }" v-for="(message, index) in messages" :key="index">
                        <div class="text-sm text-gray-800" style="white-space: pre-wrap" v-html="message.message"></div>
                        <span class="text-xs text-gray-600">{{getMessageTime(message.createdAt)}}</span>
                    </div>
                    <div v-if="messages.length === 0" class="py-5 text-center text-lg">
                        Start Conversation ...
                    </div>
                </div>
            </div>
            <div class="absolute bottom-0 flex reply sticky w-full justify-around items-center text-gray-500">
                <div class="reply-emojis">
                    <i class="fa fa-smile-o fa-2x"></i>
                </div>
                <div class="reply-main w-full text-gray-700">
                    <textarea name="" placeholder="Type a message" v-model='message' @keyup.enter="sendMessage"></textarea>
                </div>
<!--                <div class="reply-recording">-->
<!--                    <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>-->
<!--                </div>-->
                <div class="reply-send px-2 hover:text-gray-600">
                    <i class="fa fa-send fa-2x" aria-hidden="true" @click="sendMessage()"></i>
                </div>
            </div>
        </div>
    </div>
</div>
