<div class="flex chat-main h-full">
    <div class="sidebar-container w-1/4 bg-green-200 h-full">
        <div class="flex flex-col h-full">
            <div class="flex justify-between items-center user-info header">
                <div class="flex items-center">
                    <div class="mx-3 my-2">
                        <img class="rounded-full user-image" :src="getImageUrl(sender.profileImage)">
                    </div>
                    <div class="font-semibold">{{sender.name}}</div>
                </div>
                <div class="heading-dot relative mr-2">
                    <i class="fa fa-ellipsis-v text-2xl" aria-hidden="true"
                       @click="$refs.userSettings.classList.toggle('hidden')"></i>
                    <div class="absolute bg-white right-0 hidden rounded shadow user-settings z-10"
                         @mouseleave="$refs.userSettings.classList.toggle('hidden')" ref="userSettings">
                        <ul class="text-sm text-gray-800">
                            <router-link class="block hover:bg-gray-200 px-3 py-2" to="/settings">Settings</router-link>
                            <router-link class="block hover:bg-gray-200 px-3 py-2"
                                         :to="{name: 'Profile', params: {userId: sender.id}}">Profile
                            </router-link>
                            <li>
                                <a @click="logOut()" class="block hover:bg-gray-200 px-3 py-2"
                                   href="javascript:void(0)">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full searchBox px-2 py-3 bg-gray-300">
                <div class="searchBox-inner h-full relative">
                    <input type="text" class="h-6 p-2 rounded text-gray-700 text-xs w-full"
                           v-model="searchText" placeholder="Search or start a new chat">
                    <span class="fa fa-times absolute" @click="searchText = ''"></span>
                </div>
            </div>
            <recent-user-list v-if="searchText === ''" :users="users" :receiver="receiver" :searchText="searchText"
                              @newReceiver="selectReceiver"/>
            <all-user-list v-else :searchText="searchText" @newReceiver="selectReceiver"/>
        </div>
    </div>
    <div class="conversation relative flex flex-col w-3/4">
        <div class="flex justify-between items-center user-info header">
            <router-link :to="{name: 'Profile', params: {userId: receiver.id}}" class="flex items-center">
                <div class="mx-3 my-2">
                    <img class="rounded-full user-image" v-if="receiver.profileImage"
                         :src="getImageUrl(receiver.profileImage)">
                </div>
                <div class="heading-name">
                    <div class="heading-name-meta font-semibold">{{receiver.name}}</div>
                    <div class="heading-online text-xs" v-if="receiver.isActive">Online</div>
                </div>
            </router-link>
        </div>
        <conversation-container :conversation="messagesList" :receiver="receiver"
                                @toggleScrollBottomBtn="(data) => isScrollDownBtnVisible = data"></conversation-container>
        <span @click="scrollToBottom()"
              :class="{'active': isScrollDownBtnVisible}"
              class="scroll-bottom flex justify-center items-center">
            <span class="fa fa-chevron-down icon"></span>
        </span>
        <div class="absolute bottom-0 flex reply sticky w-full justify-around items-center text-gray-500">
            <div class="reply-emojis px-2">
                <i class="fa fa-smile-o text-xl"></i>
            </div>
            <div class="reply-main w-full text-gray-700">
                <text-box @sendMessage="(msg) => sendMessage(msg)"></text-box>
                <!--                            <textarea name="" placeholder="Type a message" v-model='messageObject.message'-->
                <!--                                      @keyup.enter="sendMessage"></textarea>-->
            </div>
            <button class="reply-attachments px-2 focus:outline-none"
                    @click="$refs.attachment.click()">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
            </button>
            <input type="file" ref="attachment" class="hidden" @change="addAttachment">
            <!--            <button class="reply-send px-2 hover:text-gray-600">-->
            <!--                <i class="fa fa-send text-xl" aria-hidden="true" @click="sendMsgBtnClicked"></i>-->
            <!--            </button>-->
        </div>
    </div>
    <attachments-window v-if="isAttachmentUploadVisible"
                        @hideWindow="isAttachmentUploadVisible = false"
                        :messageObject="messageObject"
                        @sendMessage="(msg) => sendMessage(msg)"
    ></attachments-window>
</div>
