@import "src/assets/scss/common";

.user-profile-main {
  .cover-image {
    height: 160px;
  }

  .profile-image-container {
    top: 80px;
    height: 150px;

    .profile-image {
      height: 130px;
      width: 130px;
      cursor: pointer;

      .click-to-upload {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.51);
      }
    }

    img {
      height: 100%;
    }
  }
  .user-details {
    .edit-button {
     cursor: pointer;
    }
    .user-bio {
      @include scrollbar
    }
  }
}
