<div class="container mx-auto">
    <div class="dashboard flex h-screen">
        <div class="side-bar-container sm:hide md:w-1/4 bg-green-100">
            <div class="search-bar relative text-xs my-3 px-4">
                <input type="text" placeholder="Search or Start new chat"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none">
                <span class="fa fa-times absolute"></span>
            </div>
            <div class="contact-list" ref="contact-list">
                <div class="contact flex items-center p-2" v-for="user in users"
                     @click="selectContact(user)" :ref="'card' + user.id">
                    <img src="../../assets/images/default-user.png" alt="" class="rounded-full">
                    <div class="p-1 pl-2 text-left">
                        <div>{{user.name}}</div>
                        <div class="last-message">Last message</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-3/4 bg-gray-200 relative h-full">
            <div class="chat-message-container">
                <div class="message"
                     :class="{'sender': message.senderId === activeUser.id, 'receiver': message.senderId !== activeUser.id}"
                     v-for="(message, index) in messages" :key="index">
                    <p><span class="font-weight-bold"></span>{{ message.message }}</p>
                </div>
            </div>
            <div class="chat-controller absolute bottom-0 flex items-center w-full px-3">
                <div id="w-input-container" class="w-full">
                    <div class="w-input-text-group text-left">
                        <div id="w-input-text" contenteditable ref="message"></div>
                        <div class="w-placeholder">
                            Type a message
                        </div>
                    </div>
                </div>
                <i class="fa fa-paper-plane" @click="sendMessage()" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
