.sidebar-card {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #f7f7f7;
  margin: 0 !important;
  cursor: pointer;
  height: 80px;


  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;

    .avatar-icon {
      img {
        border-radius: 50%;
        height: 49px;
        width: 49px;
      }
    }
  }
}
