.sidebar-card {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  cursor: pointer;
  height: 70px;
  justify-content: flex-start;
  align-items: center;


  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;

    .avatar-icon {
      img {
        border-radius: 50%;
        height: 49px;
        width: 49px;
      }
    }
  }
}
